<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="72a8b5">  <td>18/09/25 22:49:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestExecution.TC_1()[pri:0, instance:com.training.testngday3.ParallelTestExecution@3a44431a]">TC_1</td> 
  <td>TestNG-tests-2@1751324997</td>   <td></td> </tr>
<tr bgcolor="72a8b5">  <td>18/09/25 22:49:19</td>   <td>3268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestExecution.TC_1()[pri:0, instance:com.training.testngday3.ParallelTestExecution@6cd28fa7]">TC_1</td> 
  <td>TestNG-tests-1@245208632</td>   <td></td> </tr>
<tr bgcolor="72a8b5">  <td>18/09/25 22:49:16</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestExecution.TC_2()[pri:0, instance:com.training.testngday3.ParallelTestExecution@3a44431a]">TC_2</td> 
  <td>TestNG-tests-2@1751324997</td>   <td></td> </tr>
<tr bgcolor="72a8b5">  <td>18/09/25 22:49:25</td>   <td>9098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestExecution.TC_2()[pri:0, instance:com.training.testngday3.ParallelTestExecution@6cd28fa7]">TC_2</td> 
  <td>TestNG-tests-1@245208632</td>   <td></td> </tr>
<tr bgcolor="72a8b5">  <td>18/09/25 22:49:16</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestExecution.TC_3()[pri:0, instance:com.training.testngday3.ParallelTestExecution@3a44431a]">TC_3</td> 
  <td>TestNG-tests-2@1751324997</td>   <td></td> </tr>
<tr bgcolor="72a8b5">  <td>18/09/25 22:49:47</td>   <td>31446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestExecution.TC_3()[pri:0, instance:com.training.testngday3.ParallelTestExecution@6cd28fa7]">TC_3</td> 
  <td>TestNG-tests-1@245208632</td>   <td></td> </tr>
<tr bgcolor="72a8b5">  <td>18/09/25 22:49:16</td>   <td>-241</td> <td>&nbsp;</td><td title="&gt;&gt;ParallelTestExecution.launchBrowser(java.lang.String)[pri:0, instance:com.training.testngday3.ParallelTestExecution@6cd28fa7]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@245208632</td>   <td></td> </tr>
<tr bgcolor="72a8b5">  <td>18/09/25 22:49:16</td>   <td>-241</td> <td>&nbsp;</td><td title="&gt;&gt;ParallelTestExecution.launchBrowser(java.lang.String)[pri:0, instance:com.training.testngday3.ParallelTestExecution@3a44431a]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1751324997</td>   <td></td> </tr>
</table>
