<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97fbdb">  <td>18/09/23 21:16:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGDemo3.TC_7()[pri:0, instance:com.training.testngday1.TestNGDemo3@707194ba]">TC_7</td> 
  <td>main@324457684</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>18/09/23 21:16:27</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGDemo3.TC_8()[pri:0, instance:com.training.testngday1.TestNGDemo3@707194ba]">TC_8</td> 
  <td>main@324457684</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>18/09/23 21:16:27</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGDemo3.TC_9()[pri:0, instance:com.training.testngday1.TestNGDemo3@707194ba]">TC_9</td> 
  <td>main@324457684</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>18/09/23 21:16:27</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGDemo3.closBrowser()[pri:0, instance:com.training.testngday1.TestNGDemo3@707194ba]">&lt;&lt;closBrowser</td> 
<td>&nbsp;</td>  <td>main@324457684</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>18/09/23 21:16:27</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGDemo3.closBrowser()[pri:0, instance:com.training.testngday1.TestNGDemo3@707194ba]">&lt;&lt;closBrowser</td> 
<td>&nbsp;</td>  <td>main@324457684</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>18/09/23 21:16:27</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGDemo3.closBrowser()[pri:0, instance:com.training.testngday1.TestNGDemo3@707194ba]">&lt;&lt;closBrowser</td> 
<td>&nbsp;</td>  <td>main@324457684</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>18/09/23 21:16:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGDemo3.launchBrowser()[pri:0, instance:com.training.testngday1.TestNGDemo3@707194ba]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td>  <td>main@324457684</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>18/09/23 21:16:27</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGDemo3.launchBrowser()[pri:0, instance:com.training.testngday1.TestNGDemo3@707194ba]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td>  <td>main@324457684</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>18/09/23 21:16:27</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGDemo3.launchBrowser()[pri:0, instance:com.training.testngday1.TestNGDemo3@707194ba]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td>  <td>main@324457684</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>18/09/23 21:16:27</td>   <td>-23</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGDemo3.start()[pri:0, instance:com.training.testngday1.TestNGDemo3@707194ba]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@324457684</td>   <td></td> </tr>
</table>
